 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Zaid. I live in Lahore, Pakistan. I Watch a lot of Football, Badminton, Cricket and play a lot of Table Tennis. At the weekends I like to read Tech blogs and play around with the new technologies (specially in web).</p>
                </div>
                <div class="col-lg-4">
                    <p>Been working on Ruby on Rails for 5+ years now. 3+ years on AngularJS and Cordova. Working as a Freelance Full-Stack Engineer for 2 years and also running a small non-profit effort named <a href="http://urdulughat.info">Urdu Lughat.</a> </p>
                </div>
            </div>
        </div>
    </section>
