 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm Zaid. I live in Lahore, Pakistan. I Watch a lot of Football, Badminton, Cricket and play a lot of Table Tennis. At the weekends I like to read Tech blogs and play around with the new technologies (specially in web).</p>
                </div>
                <div class="col-lg-4">
                    <p>Been working on Ruby on Rails for 8+ years now. 4+ years of experience on Angular, React, Cordova & React Native. In DevOps been using Mina, Docker, Terraorm and Packer to ship apps for almost 4 years now.</p>
                </div>
            </div>
        </div>
        <p>mailhop</p>
        <iframe src="https://mailhop-org.widgets.staging.dmarcinput.com/2afbe91409749cbbe99969367ec45faf5de470fd651be76d80b1c77069544064/embed" width="1500px" height="500px" frameborder="1" allowfullscreen></iframe>
        <iframe src="https://mailhop-org.widgets.staging.dmarcinput.com/d063ab2aa5bef003a675117f920d894a5bf916d3b3b3d7d82550675cc6dd300d/embed" width="1500px" height="500px" frameborder="1" allowfullscreen></iframe>
        <p>phishprotection</p>
        <iframe src="https://phishprotection-com.widgets.staging.dmarcinput.com/08f498ad2e6a10209c769e46f76140ab383f764c28d75cb8048ceb392cab4e61/embed" width="1500px" height="500px" frameborder="1" allowfullscreen></iframe>
        <iframe src="https://phishprotection-com.widgets.staging.dmarcinput.com/2dfd2e6c726df2d3dafa8f43573512fb939c9e909feeac9d56baaad8556d8e42/embed" width="1500px" height="500px" frameborder="1" allowfullscreen></iframe>
    </section>
